<footer class="footer-container">
	<div class="mb-3 mt-3 text-center text-white footer-text">
		<div>
			&copy; 2020 by Teeny
		</div>
		<div>
			Made by Niloy & Nadeem |
			<img src="/img/icons8-bangladesh-48.png" alt="" class="img-flag" />
		</div>
	</div>
</footer>
