<%- include('includes/head.ejs') %>

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a href="/" class="navbar-brand">Teeny</a>
	</nav>
</div>
<%- include('includes/footer.ejs') %>
