<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<!-- Added Custom Styles-->
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light row">
				<div class="col-12 col-md-6">
					<a
						href="/"
						class="navbar-brand navbar-brand__teeny"
						style="display: block;"
						>Teeny</a
					>
				</div>
				<div class="col-12 col-md-6">
					<a
						href="/"
						style="text-align: right; display: block;"
						class="navbar-brand navbar-brand__teeny"
						>Teeny</a
					>
				</div>
			</nav>
		</div>
	</body>
</html>
